/* .App {
  font-family: sans-serif;
  text-align: center;
} */

body {
  background-image: linear-gradient(to bottom right, lightcoral, purple);
}

.logo {
  color: red;
  margin-left: 15px;
  margin-right: auto;
}

.square {
  height: 500px;
  width: auto;
  background-color: red;
  margin: 0;
  border-radius: 10px;
  opacity: 65%;
  border: magenta;
  /* display: flex;
  align-items: center; */
  padding: 30px;
}

/* .innerSquares {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
} */

div.littleSquare1 {
  height: 500px;
  width: 100px;
  margin-right: auto;
  background-color: maroon;
  padding: 5px;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

div.littleSquare1 div.list {
  font-size: 30px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.littleSquare2 {
  height: 500px;
  width: 100px;
  margin-left: auto;
  background-color: maroon;
  padding: 5px;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

div.littleSquare2 div.list {
  font-size: 30px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.littleSquare1 div.list:hover {
  color: green;
}

div.littleSquare2 div.list:hover {
  color: blue;
}

.container .square1,
.square2,
.square3 {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  margin: 50px;
  background-color: black;
}

.container,
.projectTitle,
.allSquares {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .square1:hover,
.square3:hover,
.square2:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition-duration: 0.05s;
}

.profilePicture img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/* ---------------------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {
  body {
    background: powderblue;
  }

  div.littleSquare1,
  div.littleSquare2 {
    display: none;
  }

  div.profilePicture img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    opacity: none;
  }

  .square {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: grid;
    align-items: center;
  }
}
